
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>回收-出售产品_浙江温州回收-出售站</title>
<meta name="keywords" content="二手机床回收|旧机床回收|江苏机床回收|浙江二手机床回收|安徽二手机床回收 |二手机床出售 | 浙江二手机床出售" />
<meta name="description" content="浙江省温州市奥威二手机床回收-出售站成立于1990年，是全国最为专业的二手机床回收、销售为一体的公司。主营二手数控机床 加工中心及各种普通机床 欢迎您的来电！咨询热线18201171003郭经理"/>
<meta name="author" content="0311zdp">


<script type="text/javascript" src="http://www.tianyong168.com/common/js/urlredirect.js"></script>
<LINK href="http://www.tianyong168.com/css/style.css" rel=stylesheet>
<LINK href="http://www.tianyong168.com/css/skins/default/jbox.css" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/common/js/functions.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/common/js/validForm/FormValid.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/common/js/jbox/jquery.jBox-2.3.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/pic.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/inc.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/banner.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/arrow.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/advpic.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/doubleScroll.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/search.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.tianyong168.com/js/jQselect.js"></script>

<!--[if IE]>
<script type="text/javascript" src="js/PIE.js"></script>
<SCRIPT>
    $(function() {
        if (window.PIE) {
            $('.picList li a:hover').each(function() {
                PIE.attach(this);
            });
        }
    });
</SCRIPT>
<![endif]-->
<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "//hm.baidu.com/hm.js?f77bf28884a8dc613edc345df31375af"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</head>
<body>
<div class="header">
	<div class="topbg">
		<div class="top">
	        <div class="logo"><a href="index.php" title="奥威机床销售-回收站"><img src="images/logo.jpg"  ></a> </div><!-- end logo-->
	        <div class="toptel">全国服务热线：<span>18201171003</span></div><!-- end toptel-->
	    </div><!-- end top-->
    </div><!-- end topbg-->
    <div  class="navgrp">
        <ul class="nav" id="nav">
            <li rel="index.php"><a href="index.php"  title="网站首页">网站首页</a></li>
                         <li rel="http://www.tianyong168.com/about.php"><a href=#  title="关于我们">关于我们</a>
                        </li>
                        <li rel="http://www.tianyong168.com/product.php"><a href="http://www.tianyong168.com/product.php"  title="回收产品">回收产品</a>
                        	<div id="navChild">
                                    <a title="锻压设备回收" href="http://www.tianyong168.com/product.php?tid=85">锻压设备回收</a>
                                    <a title="二手车床回收" href="http://www.tianyong168.com/product.php?tid=86">二手车床回收</a>
                                    <a title="二手剪板机回收" href="http://www.tianyong168.com/product.php?tid=87">二手剪板机回 ...</a>
                                    <a title="二手磨床回收" href="http://www.tianyong168.com/product.php?tid=88">二手磨床回收</a>
                                    <a title="二手刨床回收" href="http://www.tianyong168.com/product.php?tid=89">二手刨床回收</a>
                                    <a title="二手铣床回收" href="http://www.tianyong168.com/product.php?tid=90">二手铣床回收</a>
                                    <a title="机加工设备回收" href="http://www.tianyong168.com/product.php?tid=91">机加工设备回 ...</a>

                </div>
                            </li>
                        <li rel="http://www.tianyong168.com/news.php"><a href="http://www.tianyong168.com/news.php"  title="回收范围">回收范围</a>
                        </li>
                        <li rel="http://www.tianyong168.com/case.php"><a href="http://www.tianyong168.com/case.php"  title="销售产品">销售产品</a>
                        </li>
                        <li rel="http://www.tianyong168.com/honor.php"><a href="http://www.tianyong168.com/honor.php"  title="热销产品">热销产品</a>
                        </li>
                        <li rel="http://www.tianyong168.com/yushouchanpin.php"><a href="http://www.tianyong168.com/yushouchanpin.php"  title="预售产品">预售产品</a>
                        </li>
                        <li rel="http://www.tianyong168.com/book.php"><a href="http://www.tianyong168.com/book.php"  title="在线留言">在线留言</a>
                        </li>
                        <li rel="http://www.tianyong168.com/contact.php"><a href="#"  title="联系我们">联系我们</a>
                        </li>
                    </ul>
    </div><!-- end navgrp-->
    <div class="banner">
    	<div class="bann">
            <div id="focus">
                <ul>
                       				                    <li><a target="_blank"><img src="http://www.tianyong168.com/upfile/ads/20160108165101-92215532483533024.jpg"  /></a></li>

                </ul>
            </div><!-- end focus-->
       </div><!-- end bann-->
    </div><!-- end banner-->
	<div class="ntbd">
	    <div class="notice">
	    	<div class="title">网站公告：</div>
	 	    <div class="noticenr"><marquee  onmouseover="this.stop()" onMouseOut="this.start()" scrollamount="2"  >文安县天永机床回收站，欢迎您的咨询！18551133366田经理</marquee></div>
	    </div><!-- end notice-->
		<div class="search">
            <form id="search" class="search" name="search" method="get" action="http://www.tianyong168.com/search.php">
     			 <input type="text" class="text" name="kws" id="kws" value="请输入搜索关键词"/>
      			<input type="submit" title="搜索" class="btnsubmit" value=""/>
			</form>
        </div><!-- end search-->
        <div class="toptel2"><span class="one">服务热线：</span><span class="two">郭经理：18551133366</span></div><!-- end toptel-->
     </div><!-- end ntbd-->
</div> <!-- end header--><div class="section">
	<div class="main">
		<div class="left">
    <div class="leftProClaList">
    	<div class="leftProTitle">回收产品<span>Category</span></div>
        <ul class="leftProClaListUl">

             <li><a href="product.php?tid=85" title="锻压设备回收">锻压设备回收</a></li>

            <ul class="childCla" >

            </ul>


             <li><a href="product.php?tid=86" title="二手车床回收">二手车床回收</a></li>

            <ul class="childCla" >

            </ul>


             <li><a href="product.php?tid=87" title="二手剪板机回收">二手剪板机回收</a></li>

            <ul class="childCla" >

            </ul>


             <li><a href="product.php?tid=88" title="二手磨床回收">二手磨床回收</a></li>

            <ul class="childCla" >

            </ul>


             <li><a href="product.php?tid=89" title="二手刨床回收">二手刨床回收</a></li>

            <ul class="childCla" >

            </ul>


             <li><a href="product.php?tid=90" title="二手铣床回收">二手铣床回收</a></li>

            <ul class="childCla" >

            </ul>


             <li><a href="product.php?tid=91" title="机加工设备回收">机加工设备回收</a></li>

            <ul class="childCla" >

            </ul>


  </ul>

        </ul>
    </div><!-- end procla_list-->

    <div class="leftContact">
    	<div class="leftTtitle">联系我们 <span>contact us</span></div><!-- end Ttitle-->
    	<div class="leftContactDl">
	    	<dl><dt>手机：</dt><dd>18551133366</dd></dl>
	    	<dl><dt>电话：</dt><dd>0316-5390612</dd></dl>
	    	<dl><dt>邮箱：</dt><dd>18551133366@163.com</dd></dl>
	        <dl><dt>地址：</dt><dd>河北省廊坊市文安县站前区西拾道十八号</dd></dl>
	        <div class="clear"></div>
        </div><!-- end Ttitle-->
    </div><!-- end leftContact-->

 	<ul class="leftNewsUl">
 		<div class="leftTtitle">回收范围 <span>Recovery</span></div><!-- end Ttitle-->
                <li><a href="http://www.tianyong168.com/news_view.php?id=107" title="">回收范围</a> </li>

     </ul>
</div>		 <div class="mainCon">
		 	  <div class="mainConTitle">
		 	  	   <div class="font">回收产品</div>
		 		   <div class="span">products </div>
		           <div class="position"><span>当前位置：</span><a href="http://www.tianyong168.com/" title="首页">首页</a> > <font>回收产品</font></div>
		      </div><!-- end mainConTitle-->
			  <div class="mainConList">

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=176" title="机加工设备回收 (7)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103219-199853316_thumb.jpg" width="230" height="173" alt="机加工设备回收 (7)"  class="PicAuto"></div>
					<div class="title">机加工设备回收 (7)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=169" title="二手铣床回收 (9)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103218-351431496_thumb.jpg" width="230" height="173" alt="二手铣床回收 (9)"  class="PicAuto"></div>
					<div class="title">二手铣床回收 (9)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=160" title="二手刨床回收 (9)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103217-1445045316_thumb.jpg" width="230" height="173" alt="二手刨床回收 (9)"  class="PicAuto"></div>
					<div class="title">二手刨床回收 (9)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=159" title="二手刨床回收 (8)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103217-69922320_thumb.jpg" width="230" height="173" alt="二手刨床回收 (8)"  class="PicAuto"></div>
					<div class="title">二手刨床回收 (8)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=144" title="二手磨床回收 (3)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103216-1071870852_thumb.jpg" width="230" height="173" alt="二手磨床回收 (3)"  class="PicAuto"></div>
					<div class="title">二手磨床回收 (3)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=141" title="二手剪板机回收">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103215-295302072_thumb.jpg" width="230" height="173" alt="二手剪板机回收"  class="PicAuto"></div>
					<div class="title">二手剪板机回收</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=138" title="二手剪板机回收">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103215-695535516_thumb.jpg" width="230" height="173" alt="二手剪板机回收"  class="PicAuto"></div>
					<div class="title">二手剪板机回收</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=128" title="二手车床回收 (5)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103214-649654980_thumb.jpg" width="230" height="173" alt="二手车床回收 (5)"  class="PicAuto"></div>
					<div class="title">二手车床回收 (5)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=127" title="二手车床回收 (4)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103214-948070032_thumb.jpg" width="230" height="173" alt="二手车床回收 (4)"  class="PicAuto"></div>
					<div class="title">二手车床回收 (4)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=175" title="机加工设备回收 (6)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103219-832362960_thumb.jpg" width="230" height="173" alt="机加工设备回收 (6)"  class="PicAuto"></div>
					<div class="title">机加工设备回收 (6)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=174" title="机加工设备出售 (5)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103219-729059916_thumb.jpg" width="230" height="173" alt="机加工设备回收 (5)"  class="PicAuto"></div>
					<div class="title">机加工设备回收 (5)</div>
			  </a>
		</dl>

		 <dl class="pic11">
			  <a href="http://www.tianyong168.com/product_view.php?id=173" title="机加工设备回收 (4)">
					<div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103219-1096822584_thumb.jpg" width="230" height="173" alt="机加工设备回收 (4)"  class="PicAuto"></div>
					<div class="title">机加工设备回收 (4)</div>
			  </a>
		</dl>

			    </div><!-- end mainConList-->
			    <!--分页样式-->
			      <div class="pglist"><span class="pageMoreTop">
			<ul><li class="home nohover"><span>首页</span></li>
<li class="last nohover"><span>&lt;</span></li>
<li class="on"><span>1</span></li>
<li><a href="product.php?&pageno=2" title="2"><span>2</span></a></li>
<li><a href="product.php?&pageno=3" title="3"><span>3</span></a></li>
<li><a href="product.php?&pageno=4" title="4"><span>4</span></a></li>
<li><a href="product.php?&pageno=5" title="5"><span>5</span></a></li>
<li class="next"><a title="下一页" href="product.php?&pageno=2"><span>&gt;</span></a></li>
<li class="end"><a href="product.php?&pageno=5" title="末页"><span>末页</span></a></li>

			</ul>
			</span><script language="javascript">
function goToPage(obj) {
$str = obj.options[obj.selectedIndex].value ;
window.location = $str;
}
</script>
</div>
	      </div><!-- end mainCon-->
	    <div class="clear"></div>
	  <div class="footPicBd">
    	<div class="footTtitle">
		 	<div class="font">推荐产品</div>
		 	<div class="span">Recommended <span>Products</span></div>
		</div><!-- end Ttitle-->
		<div class ="footPicList">
			<div  class="ctrl"><img src="images/proleft.jpg"></div>
	    	<div  class="footPicListUl" id="ScrollBox">
            	    		<ul class="clear-fix">
                	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=176" title="机加工设备回收 (7)">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103219-199853316.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">机加工设备回收 (7)</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=169" title="二手铣床回收 (9)">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103218-351431496.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手铣床回收 (9)</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=160" title="二手刨床回收 (9)">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103217-1445045316.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手刨床回收 (9)</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=159" title="二手刨床回收 (8)">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103217-69922320.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手刨床回收 (8)</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=144" title="二手磨床回收 (3)">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103216-1071870852.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手磨床回收 (3)</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=141" title="二手剪板机回收">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103215-295302072.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手剪板机回收</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=138" title="二手剪板机回收">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103215-695535516.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手剪板机回收</div>
	                    </a>
	                </li>
	             	                <li>
	                    <a href="http://www.tianyong168.com/product_view.php?id=128" title="二手车床回收 (5)">
	                       <div class="pic"><img src="http://www.tianyong168.com/upfile/isClass/pic/20151116103214-649654980.jpg" alt="" width="210" height="158" class="PicAuto"></div>
	                       <div class="title">二手车床回收 (5)</div>
	                    </a>
	                </li>
	             	            </ul>

	    	</div><!-- end proListPic-->
	    	<div  class="ctrl"><img src="images/proright.jpg"></div>
    	</div><!-- end footPicList-->
</div>
	</div><!-- end main-->
</div>
<div class="footer">
	<div class="linkBox">
		<div class="link">
	      <div class="link_list">
	    	      	  <a href="http://www.baidu.com" target="_blank">百度</a>

	      </div><!-- end link_list-->
	      <div class="clear"></div>
	    </div><!-- end link-->
	</div><!-- end linkBox-->
    <div class="btnav">
      	<div class="btnavlist">
      		<a href="" title="">网站首页</a>　 |　

           	 <a href="http://www.tianyong168.com/about.php" title="关于我们">关于我们</a> 　|　
           	 <a href="http://www.tianyong168.com/product.php" title="回收产品">回收产品</a> 　|　
           	 <a href="http://www.tianyong168.com/news.php" title="回收范围">回收范围</a> 　|　
           	 <a href="http://www.tianyong168.com/case.php" title="销售产品">销售产品</a> 　|　
           	 <a href="http://www.tianyong168   .com/honor.php" title="热销产品">热销产品</a> 　|　
           	 <a href="http://www.tianyong168.com/yushouchanpin.php" title="预售产品">预售产品</a> 　|　
           	 <a href="http://www.tianyong168.com/book.php" title="在线留言">在线留言</a> 　|　
           	 <a href="http://www.tianyong168.com/contact.php" title="联系我们">联系我们</a>             　
	    </div>  <!-- end btnavlist-->
    </div><!-- end btnav-->
	<div class="copyrightnr">
		      地址：浙江省温州市乐清　　手机：18201171003　　电话：0316-5390612<br />
		  　　技术支持：<a href="http://www.panguweb.cn" target="_blank" title="盘古网络－提供基于互联网的全套解决方案" >盘古网络</a><a href="http://ks.panguweb.cn" target="_blank" title="盘古建站－快速开展网络营销的利器">[盘古建站]</a>　　ICP备案编号：<a href="http://www.miitbeian.gov.cn/" target="_blank" title="冀ICP备13017468号 ">冀ICP备13017468号 </a>
	</div><!-- end copyrightnr-->
    <div class="footOne">
		 <ul class="share">
<!--		 	  <li><a href="tencent://message/?uin=258160070&Site=yu.com&Menu=yes"  class="list qq" target="blank">在线咨询</a></li>
-->	       	  <li class="shareDiv"><a href="javascript:void(0)" class="list qq2">分享网站</a>
	       	    	<div class="shareList">
				      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
				      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"22"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
					  </script>
				    </div>
	       	  </li>
		 </ul>
<!--		 <div class="site">网站地图（<a href="sitemap.xml" target="_blank">xml</a> / <a href="sitemap.html" target="_blank">html</a>）</div>
-->	</div><!-- end footOne-->
   <div class="fixed">
	    <a href="book.php" title="留言" class="book"></a>
<!--	    <a href="javascript:;" title="二维码" class="codepic"></a>
-->	    <a href="javascript:;" title="返回顶部" class="backup"></a>
	    <div>
	        <img src="http://www.tianyong168.com/upfile/qr/qrcode.png" alt="文安县天永机床回收站" class="code" >
	    </div>
   </div>
</div><!-- end footer-->
</body>
</html>