
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="www.panguweb.cn" />
<meta name="keywords" content="车床|铣床|刨床|磨床|冲床|钻床" />
<meta name="description" content="文安县蕾俊机床购销处，是辐射华北地区的专业二手机床设备经营中心。主要经营回收如；车床，铣床，刨床，磨床，冲床，钻床，剪板机，折弯机，液压机，等各种锻压设备，制齿设备，如；滚齿机，磨齿机，剃齿机，弧齿机，插齿机，齿轮检查机，闭式单点，双点，龙门刨，铣床，落地镗，铣床。" />
<title>公司动态_文安县蕾俊机床购销处</title>
<link rel="stylesheet" type="text/css" href="/App/Home/Public/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/App/Home/Public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/App/Home/Public/css/subpage.css" />


<script type="text/javascript" src="/App/Home/Public/js/jquery1.11.1.min.js"></script>
	<script type="text/javascript" src="/App/Home/Public/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="/App/Home/Public/js/form.js"></script>
	<script type="text/javascript" src="/App/Home/Public/js/zx.js"></script>
	<script type="text/javascript" src="/App/Home/Public/js/common.js"></script>

<script type="text/javascript">
function urlredirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();
	if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
		// 只适用盘古建站，PC跳转移动端
		var resultpage = "/index.php?m=Cnm&c=Index&a=index".replace("/index.php","/wap/index.php");
		//console.log(resultpage);
		window.location.href = resultpage;

	}
}
urlredirect();
</script><style>
.theme_color{background-color:#1ec97f;}


</style>

</head>
	<!-- 头部 -->
	 <script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?ddfcba975d801edcb3d5e9b43a02ece5"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
 <div class="header">
    <div class="main">
      <div class="logo"><a href="/index.php?m=cn&c=Index&a=index" title="文安县蕾俊机床购销处"><img src="/App/Home/Public/images/logo.jpg" alt="文安县蕾俊机床购销处" /></a></div>
      <div class="tel">18131691911</div>

      </div>
    </div>
</div>
<!--header end-->
<div class="clear"></div>
<!--g_nav-->

<div class="g_nav">
  <div class="g_nav01">
    <table border="0" cellspacing="0" cellpadding="0" style=" width:97%">
      <tr>
      	<td width="61"><a href="index.php" title="网站首页"><img src="/App/Home/Public/images/nav01.jpg" alt="网站首页" width="61" height="60" /></a></td>
      	<td class="">
          <a href="/index.php?m=cn&c=About&a=index" title="关于我们">关于我们<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Product&a=index" title="回收机型">回收机型<div></div></a>
        	              <div class="nav_tan">
                <a href="/index.php?m=cn&c=Product&a=index&tid=178">加工中心</a><a href="/index.php?m=cn&c=Product&a=index&tid=179">回收冲床</a><a href="/index.php?m=cn&c=Product&a=index&tid=180">回收折弯机</a><a href="/index.php?m=cn&c=Product&a=index&tid=181">回收剪板机</a><a href="/index.php?m=cn&c=Product&a=index&tid=182">回收钻床</a><a href="/index.php?m=cn&c=Product&a=index&tid=183">回收滚齿机</a><a href="/index.php?m=cn&c=Product&a=index&tid=184">回收挤出机</a><a href="/index.php?m=cn&c=Product&a=index&tid=185">回收磨床</a><a href="/index.php?m=cn&c=Product&a=index&tid=186">回收弯管机</a><a href="/index.php?m=cn&c=Product&a=index&tid=187">回收铣床</a><a href="/index.php?m=cn&c=Product&a=index&tid=188">回收液压机</a><a href="/index.php?m=cn&c=Product&a=index&tid=189">普通车床</a><a href="/index.php?m=cn&c=Product&a=index&tid=190">数控车床</a><a href="/index.php?m=cn&c=Product&a=index&tid=191">橡胶机械</a><a href="/index.php?m=cn&c=Product&a=index&tid=192">注塑机</a>              </div>        </td><td class="now">
          <a href="/index.php?m=cn&c=News&a=index" title="公司动态">公司动态<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Case&a=index" title="库房展示">库房展示<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Newsb&a=index" title="行业动态">行业动态<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Honor&a=index" title="资质荣誉">资质荣誉<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Adv&a=index" title="回收范围">回收范围<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言<div></div></a>
        	        </td><td class="">
          <a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们<div></div></a>
        	        </td>      </tr>
    </table>




</div></div>
<!--g_nav end-->
<div class="clear"></div>
	<!-- 头部 end -->

	<!-- banner -->
    <a href_="/index.php?m=&">
<div class="sub_banner" style=" background:url(/Upload/atm/64B6EA6B85B18552E9E7B0697E80F150.jpg) no-repeat top center;"><div class="banfloat">

        </div></div>
</a>
    <!--搜索一行-->
<div class="search">
  <div class="search01">
        <form action="/index.php?m=cn&c=News&a=index" method="post">
          <div class="search02">
            <input name="sk" type="text" class="search03" placeholder="搜索关键词" value=''/>
          </div>
          <div class="search05">
            <select class="jj" >
              <option value="/index.php?m=cn&c=News&a=index" selected>公司动态</option><option value="/index.php?m=cn&c=Product&a=index" >回收机型</option><option value="/index.php?m=cn&c=Case&a=index" >库房展示</option><option value="/index.php?m=cn&c=Project&a=index" >厂房展示</option><option value="/index.php?m=cn&c=Newsb&a=index" >行业动态</option><option value="/index.php?m=cn&c=Honor&a=index" >资质荣誉</option>            </select>
          </div>
          <input name="" type="submit" class="search04" value="" />
          </form>
           <script>
          $(function(){
            $('.jslct dl dd').click(function(){
              $(this).closest('form').attr('action',$(this).attr('val'));
            });
          })
        </script>
        </div>
  <div class="gonggao">
    <div class="gonggao01">网站公告</div>
    <marquee>文安县蕾俊机床购销处，欢迎您致电咨询！</marquee>
  </div>
</div>
<!--搜索一行 end-->
<div class="clear"></div>
	<!-- banner -->
<div class="fy">
	<!-- 图标导航 -->
	<div class="product sub_pro">
	<!--left-->
    <!--<script>
$(document).ready(function(e) {
    $(".sidenav ul li:odd").css({
		 "background-image":"url(/App/Home/Public/images/d4.jpg)",
		})
	$(".sidenav ul li:last-child").find("span").css({
		 "display":"block",
		})
});
</script>-->

      <!--left end-->

      <div class="product03">
      <div class="content_com_title">
						<h2>公司动态</h2>
						<div class="bread">
							当前位置：<a href="/index.php?m=cn&c=Index&a=index">首页</a>&gt;<a href="/index.php?m=cn&c=News&a=index">公司动态</a>						</div>
					</div>
					<div class="content">
                        <ul class="news1">

                              <li>
                                    <a href="/index.php?m=cn&c=News&a=view&id=1589" title="冲床用途及特点" class="pg-color">冲床用途及特点</a>
                                    <span>2017-06-13</span>
                                </li><li>
                                    <a href="/index.php?m=cn&c=News&a=view&id=1588" title="冲床产品特性" class="pg-color">冲床产品特性</a>
                                    <span>2017-06-13</span>
                                </li><li>
                                    <a href="/index.php?m=cn&c=News&a=view&id=1587" title="加工中心操作规程" class="pg-color">加工中心操作规程</a>
                                    <span>2017-06-13</span>
                                </li><li>
                                    <a href="/index.php?m=cn&c=News&a=view&id=1586" title="数控铣床加工范围" class="pg-color">数控铣床加工范围</a>
                                    <span>2017-06-13</span>
                                </li><li>
                                    <a href="/index.php?m=cn&c=News&a=view&id=1585" title="数控铣床的主要功能" class="pg-color">数控铣床的主要功能</a>
                                    <span>2017-06-13</span>
                                </li><li>
                                    <a href="/index.php?m=cn&c=News&a=view&id=1584" title="加工中心选用" class="pg-color">加工中心选用</a>
                                    <span>2017-06-13</span>
                                </li>
                        </ul>
                        					</div>
      </div>
      <div class="clear"></div>
</div>
</div>


	<!-- 图标导航 end-->


<!-- footer -->


<div class="icontact" >


    <div class="wl">
    	 <div class="fri_link">
        	 <p class="atitle">
                	<font>link</font>
                    <span>友情链接</span>
             </p>
            <div class="nnf">
            	<a href="http://www.baidu.com" title="百度" target="_blank" style="background-image:url(/Upload/news/4B155AC87A5C77A01052B54CA1079E6F.png); width:190px; height:60px;"></a>            </div>
       </div>

    </div>
</div>
<div class="foonavf">
	<div class="wl">

            <div class="nnf">
            	<a class="foonav" href="/index.php?m=cn&c=Index&a=index" title="网站首页">网站首页</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=About&a=index" title="关于我们">关于我们</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Product&a=index" title="回收机型">回收机型</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=News&a=index" title="公司动态">公司动态</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Case&a=index" title="库房展示">库房展示</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Newsb&a=index" title="行业动态">行业动态</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Honor&a=index" title="资质荣誉">资质荣誉</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Adv&a=index" title="回收范围">回收范围</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言</a> <span>  |  </span><a class="foonav" href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们</a> <span>  |  </span>            </div>
          <!--  <div class="rb"><a href="" title="网站地图" class="map_link">网站地图（xml / html）</a></div>-->
     </div>
</div>
<!--footer-->
<div class="footer">
	<div class="wl">
    		<div class="manager_info"><span>电话：18131691911</span><span><!--电话：18131691911</span>--><span>地址：河北省廊坊市文安县火车站站前开发区机床市场</span><br /><span>版权所有：文安县蕾俊机床购销处</span><span><a href="http://www.beian.miit.gov.cn" title="备案信息">ICP备案号：冀ICP备17017513号-1</a></span></div>
            <div class="share_b">

               <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
    </div>



</div>

<div class="side_nav">
  <ul>

    <!--<li class="sub_QR side_nav_3"> <a title="二维码" href="javascript:;"> <span style="display: none;"><img src="/index.php?m=cn&c=Index&a=creatCode&domain=http%3A%2F%2Fwww.baidu.com" alt=""></span> </a> </li>-->
    <li class="back_top"> <a title="返回顶部"  style="width: 72px; left: 0px;">  </a> </li>
  </ul>
  <div class="c"></div>
  <div style="position:fixed; left:20px; top:300px; z-index:999999"><img src="/App/Home/Public/images/xuanfu.png" /></div>

</div>

</body>
</html>